h2 {
  
  font-size: 30px;
  height: 70px;
  padding: 0 30px;
  display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* ここからドロワーメニュー */
.drawer__coler {
  color: rgb(41, 49, 216);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;

}


.ul__menu {
  display: flex;
  font-weight: bold
}

.menu__b {
  margin-right: 30px;
  color: hsla(240, 1%, 41%, 0.881);
}

.drawer__nav {

  position: absolute;
  height: 50vh;
  width: 100%;
  left: -100%;
  background: #eee;
  transition: .7s;
  text-align: center;
}

.drawer__nav ul {
  padding-top: 20px;
}

.drawer__nav ul li {
  list-style-type: none;
  margin-top: 50px;
}

.drawer__menu {
  display: none;
}



.menu__line--top {
  top: 0;
}

.menu__line--middle {
  top: 14px;
}

.menu__line--bottom {
  bottom: 0;
}

.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}

.menu.open span:nth-of-type(2) {
  opacity: 0;
}

.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}

.in {
  transform: translateX(100%);
}



/* ここまで */

.home__img {
  width: 100%;

}

a {
  color: black;
  text-decoration: none;
}

.home {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img-2/mv.png) center / cover;
  color: #fff;

}

.service__ttl {
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 30px;
  font-weight: bold;
}

img {
  width: 100%;
}

.seviceclass {
  height: auto;
}




.IT {
  padding: 80px 0;
  width: 49%;
  margin-top: 20px;
  margin-right: 1%;
}


.ttl__s {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}


.ttl__A {
  margin: 0 auto;
  width: 45%;
}

.ttl__B {
  font-weight: bold;
  font-size: 50px;
  text-align: center;

}

.ttl__C {
  font-weight: bold;
  font-size: 18px;
  text-align: center;

}

.TECH__ttltxt {
  margin: auto;
}

.TECH__ttl {
  color: #fff;
  background-color: black;
  padding: 80px 0;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}



.TECH__txt {
  font-size: 15px;
  margin-top: 20px;

}

.TECH__ttltxt {
  width: 85%;
  margin: 0 auto;

}

h3 {
  text-align: center;
}


.news {
  height: 150%;
}

.head {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  line-height: 50px;
}

.news__A {
  color: #fff;
}

.news__botn {
  display: block;
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #cd0224;
  color: #fff;
  margin-left: 50%;
}

.news__l {
  color: rgb(9, 9, 9);
  text-align: center;
}



.news__itema {
  margin: 2em auto;
  padding: 0.5em;
  width: 90%;
  background-color: #fff;
  border: 2px solid rgb(5, 5, 5);
  margin-top: 1px;
  width: 50%;
  margin-left: 25%;
  height: 50px;
  line-height: 50px;
}

.news__itemb {
  margin: 2em auto;
  padding: 0.5em;
  width: 90%;
  background-color: #fff;
  border: 2px solid rgb(5, 5, 5);
  background-color: #fff;
  margin-top: 1%;
  width: 50%;
  margin-left: 25%;
  line-height: 50px;
}

.news__itemc {
  margin: 2em auto;
  padding: 0.5em;
  width: 90%;
  background-color: #fff;
  border: 2px solid rgb(5, 5, 5);
  background-color: #fff;
  margin-top: 1%;
  width: 50%;
  margin-left: 25%;
  line-height: 50px;
  margin-bottom: 1%;
}



/*ここからお問い合わせ*/
.bottan_service {
  display: block;
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #cd0224;
  color: #fff;
  margin: auto;
  margin-top: 5%;
}

.form {
  padding: 80px;

}

.mein {
  margin-top: 5%;
  text-align: center;
  font-size: 30px;
}

.naiyou {
  margin-top: 3%;
  text-align: center;
  padding-bottom: 30px;
}

/*ここまで*/

/*ここからフッター*/

.last {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  display: flex;
  flex-direction: row;


}

.footer {
  padding: 20px 0;
  color: #fff;
  background-color: #222;
}

.last__A {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.last {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;

}

.last__A {

  display: flex;
  flex-wrap: wrap;
  font-weight: bold
}

.last__B {
  margin-right: 30px;
  border-right: solid rgb(250, 249, 249);
  padding-right: 10px;

}

.last__C {
  color: #eee;
}

/*ここまで*/

@media screen and (max-width: 768px) {
  .wrap {
    width: 85%;
  }
}

.wrap {
  margin: 0 auto;
}

.ptb-m {
  padding: 80px;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;

  }
}

@media screen and (max-width: 768px) {
  .drawer__nav {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    transition: .7s;

  }
}

@media screen and (max-width: 768px) {
  .drawer__menu {
    max-width: 768px;
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    right: 20px;
    z-index: 10;

  }
}

@media screen and (max-width: 768px) {

  .menu__line--top,
  .menu__line--middle,
  .menu__line--bottom {

    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }
}

@media screen and (max-width: 768px) {
  .TECH__ttltxt {
    width: 85%;

  }
}



@media screen and (max-width: 768px) {
  .drawer__menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
}

@media screen and (max-width: 768px) {
  .drawer__menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 768px) {
  .drawer__menu.open span:nth-of-type(2) {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .blog__ttl {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .blog__A {
    width: 100%;
    margin-right: 0;

  }
}

@media screen and (max-width: 768px) {
  .last__B {
    text-align: center;
    margin-top: 10px;
    width: 100%;

  }
}