h2 {
  font-style: italic;
  font-size: 30px;
  height: 70px;
  padding: 0 30px;
}
.ttl__B {
  font-weight: bold;
  font-size: 50px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;

}

.ul__menu {
  display: flex;
  font-weight: bold
}

.menu__b {
  margin-right: 30px;
  color: hsla(240, 1%, 41%, 0.881);
}


.home__img {
  width: 50%;

}

a {
  color: black;
  text-decoration: none;
}

.home {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img-2/mv.png) center / cover;
  color: #fff;

}


.news {
  height: 150%;
}

.head {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  line-height: 50px;
}

.news__A {
  color: #fff;
}

.news__botn {
  display: block;
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #cd0224;
  color: #fff;
  margin-left: 50%;
}

.news__l {
  color: rgb(9, 9, 9);
  text-align: center;
}



.news__itema {
  margin: 2em auto;
  padding: 0.5em;
  width: 90%;
  background-color: #fff;
  border: 2px solid rgb(5, 5, 5);
  margin-top: 1px;
  width: 50%;
  margin-left: 25%;
  height: 50px;
  line-height: 50px;
}

.news__itemb {
  margin: 2em auto;
  padding: 0.5em;
  width: 90%;
  background-color: #fff;
  border: 2px solid rgb(5, 5, 5);
  background-color: #fff;
  margin-top: 1%;
  width: 50%;
  margin-left: 25%;
  line-height: 50px;
}

.news__itemc {
  margin: 2em auto;
  padding: 0.5em;
  width: 90%;
  background-color: #fff;
  border: 2px solid rgb(5, 5, 5);
  background-color: #fff;
  margin-top: 1%;
  width: 50%;
  margin-left: 25%;
  line-height: 50px;
  margin-bottom: 1%;
}

.drawer__nav {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: #eee;
  transition: .7s;
  text-align: center;
}

.nav ul {
  padding-top: 80px;
}

.nav ul li {
  list-style-type: none;
  margin-top: 50px;
}


.drawer__menu {
  display: none !important;
  max-width: 768px;
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: 20px;
  top: 20px;
}

.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}

.menu__line--top {
  top: 0;
}

.menu__line--middle {
  top: 14px;
}

.menu__line--bottom {
  bottom: 0;
}

.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}

.menu.open span:nth-of-type(2) {
  opacity: 0;
}

.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}

.in {
  transform: translateX(100%);
}

.form__A {
  margin-top: 5%;
  text-align: center;
  font-size: 30px;
}

.form__B {
  margin-top: 3%;
  text-align: center;
}

.last {
  display: flex;
  flex-direction: row;
  background-color: #000;

}



.service__A{margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service__img{display: block;


}
h4{font-size: 20px;}

.service__txt{font-size: 13px;
  margin-right: auto;
}


.copylight {
  margin-top: 15%;
  margin-left: 5vh;

}

.last__A {
  margin-left: 20vh;
  margin-top: 20%;
  margin-bottom: 5%;
  list-style: none;
}

.last {
  color: #fff;
  display: flex;
  justify-content: space-between;
  background-color: rgb(6, 6, 6);
  margin-top: 30px;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;

}

.last__A {

  display: flex;
  font-weight: bold
}

.last__B {
  margin-right: 30px;
  border-right: solid rgb(250, 249, 249);
  padding-right: 10px;
}

.last__C {
  color: #eee;
}

.bottan_service {
  display: block;
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #cd0224;
  color: #fff;
  margin: auto;
  margin-top: 5%;
}







.reaasonA {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5%;
  text-align: left;
}