h2 {
  font-style: italic;
  font-size: 30px;
  height: 70px;
  padding: 0 30px;
}
.home__img {
  width: 100%;

}
/* ここからドロワーメニュー */
.drawer__coler {
  color: rgb(41, 49, 216);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;

}

a {
  color: ;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;

  }
}

.ul__menu {
  display: flex;
  font-weight: bold
}

.menu__b {
  margin-right: 30px;
  color: hsla(240, 1%, 41%, 0.881);
}

.drawer__nav {

  position: absolute;
  height: 50vh;
  width: 100%;
  left: -100%;
  background: #eee;
  transition: .7s;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .drawer__nav {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    transition: .7s;

  }
}

.drawer__nav ul {
  padding-top: 20px;
}

.drawer__nav ul li {
  list-style-type: none;
  margin-top: 50px;
}

.drawer__menu {
  display: none;
}


@media screen and (max-width: 768px) {
  .drawer__menu {
    max-width: 768px;
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    right: 20px;
    z-index: 10;

  }
}

@media screen and (max-width: 768px) {

  .menu__line--top,
  .menu__line--middle,
  .menu__line--bottom {

    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }
}

.menu__line--top {
  top: 0;
}

.menu__line--middle {
  top: 14px;
}

.menu__line--bottom {
  bottom: 0;
}

.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}

.menu.open span:nth-of-type(2) {
  opacity: 0;
}

.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}

.in {
  transform: translateX(100%);
}
@media screen and (max-width: 768px) {
  .drawer__menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
}

@media screen and (max-width: 768px) {
  .drawer__menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 768px) {
  .drawer__menu.open span:nth-of-type(2) {
    opacity: 0;
  }
}
/* ここまで */
a {
  color: black;
  text-decoration: none;
}

.home {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img-2/mv.png) center / cover;
  color: #fff;

}
.ttl__B {
  font-weight: bold;
  font-size: 50px;
}
a{color: #000;
  text-decoration: none;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;

}


.form__A {
  margin-top: 5%;
  text-align: center;
  font-size: 30px;
}

.form__B {
  margin-top: 3%;
  text-align: center;
}




.service__A{padding: 20px 0;
  border-top: 1px solid #222;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.service__img{display: block;
  width: 290px;
}
img{width: 100%;
  height: auto;
  }

h4{font-size: 20px;}

.service__txt{font-size: 13px;
  margin-right: auto;
}



.bottan_service {
  display: block;
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #cd0224;
  color: #fff;
  margin: auto;
  margin-top: 5%;
}







.reaasonA {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5%;
  text-align: left;
}

/*ここからお問い合わせ*/

.form {
  padding: 80px;

}

.mein {
  margin-top: 5%;
  text-align: center;
  font-size: 30px;
}

.naiyou {
  margin-top: 3%;
  text-align: center;
  padding-bottom: 30px;
}

/*ここまで*/
/*ここからフッター*/

.last {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  display: flex;
  flex-direction: row;


}

.footer {
  padding: 20px 0;
  color: #fff;
  background-color: #222;
}

.last__A {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.last {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;

}

.last__A {

  display: flex;
  flex-wrap: wrap;
  font-weight: bold
}

.last__B {
  margin-right: 30px;
  border-right: solid rgb(250, 249, 249);
  padding-right: 10px;

}

@media screen and (max-width: 768px) {
  .last__B {
    text-align: center;
    margin-top: 10px;
    width: 100%;

  }
}

.last__C {
  color: #eee;
}

/*ここまで*/

@media screen and (max-width: 768px) {
  .wrap {
    width: 85%;
  }
}

.wrap {width: 85%;
  margin: 0 auto;
}

.ptb-m {
  padding: 80px;
}